@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
$font: "Lato";
.chat {
	z-index: 100;
	font-family: $font;
	border-radius: 10px 10px 0 0;
	width: 338px;
	max-width: 338px;
	// height: 455px;
	// max-height: 455px;

	position: fixed;
	bottom: 0px;
	right: 50%;
	transform: translateX(50%);

	overflow: hidden;

	// box-shadow: 0 0 10px rgba($clr1, 0.5);
	background-color: $clr4;

	transition: transform 0.15s ease-out;
	&.hide {
		transform: translate(50%,calc(100% - 53px));
		// max-height: 32px;
		// height: 32px;
	}
	@include for-wide-layout {
		right: 80px;
		transform: translateX(0);
		// main {
		// 	min-height: 360px;
		// }
		&.hide {
			transform: translate(0,calc(100% - 53px));
		}
	}
	.header {
		cursor: pointer;
		color: $clr1;
		background-color: $clr5;
		width: 100%;
		height: 32px;
		min-height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px;
		p {
			text-transform: uppercase;
		}
		svg {
			margin: 5px;
			&.upsidedown {
				transform: rotate(180deg);
			}
		}
		img {
			margin: 5px;
			width: 30px;
		}
	}
	main {
		max-height: 355px;
		min-height: 355px;
		transition: 0.2s;

		justify-content: end;
		// font-size: rem(12px);
		background-color: $clr4;
		// backdrop-filter: blur(10px);

		// -moz-box-shadow: inset 20px 20px 50px #00000078;
		// -webkit-box-shadow: inset 20px 20px 50px #00000078;
		// box-shadow: inset 20px 20px 50px #00000078;
		color: $clr6;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		padding: 10px;
		margin: auto 0;
		.no-messages {
			margin: auto;
			opacity: 0.5;
		}
		.wrap {
			width: 100%;
			align-items: flex-end;
			margin: 0 0 3px 3px;
			&.sent {
				flex-direction: row-reverse;
			}
			img {
				margin: 0;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				// border: 3px solid $clr5;
			}
			.message {
				// align-self: flex-start;
				border-radius: 18px;
				align-items: flex-start;
				// width: 100%;
				&.sent {
					// padding: 0 10px 0 0;
					background-color: $clr2;
					// align-self: flex-end;
				}
				&.received {
					// padding: 0 0 0 10px;
					display: flex;
					// align-self: flex-end;
					background-color: $clr3;
					// flex-direction: row-reverse;
				}
				p {
					// margin: auto;
					// overflow-wrap: break;
					margin: 7px 13px;
					overflow-wrap: break-word;
					word-break: break-word;
					// max-width: 180px;
					// hyphens: auto;
					text-align: left;
					font-size: 0.9375rem;
					width: 100%;
				}
			}
			span {
				font-size: 60%;
				padding: 0 4px;
				opacity: 0.3;
				margin: 0;
				cursor: default;
				align-self: center;
			}
		}
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
			// border-radius: 7px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #bec4ca;
			border-radius: 10px;
			opacity: 0.5;
		}
	}
	form {
		transition: 0.2s;
		justify-self: flex-end;
		width: 100%;
		border: none;
		margin: 0;
		background-color: $clr4;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		input {
			width: 100%;
			padding: 10px;
			// background-color: $clr5;
			border-radius: 100px;
			border-width: 0;
			// font-size: large;
			// margin: 10px 0;
			// color: $clr6;
			margin: 0 10px 0 10px;
		}
		input:focus {
			outline: none !important;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
		button {
			color: $clr6;
			// padding: 10px;
			margin-right: 10px;
			background-color: $clr4;
		}
	}
	
	// overflow: hidden;

}
