.current-player-preview {
	// margin-right: 10px;
	width: 160px;
	height: 80px;
	min-width: 160px;
	// min-height: 10vmin;
	// max-width: 20vmin;
	// max-height: 10vmin;
	// border: 2px solid #eaf1f9;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba($clr4, 0.5);
	backdrop-filter: blur(10px); 

	// -moz-box-shadow: inset 20px 20px 50px #00000050;
	// -webkit-box-shadow: inset 20px 20px 50px #00000050;
	// box-shadow: inset 20px 20px 50px #00000050;
	&.won {
		filter: grayscale(1);
		// border: 2px solid #eaf1f960;
		.next-player {
			p {
				opacity: 0.3;
			}
		}
	}
	.symbol {
		position: relative;
		height: 100%;
		width: 50%;
		// height: 8vmin;
		// width: 8vmin;
		img {
			width: 100%;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.next-player {
		position: relative;
		width: 50%;
		height: 100%;
		p {
			cursor: default;
			position: absolute;
			// line-height: 1;
			// background-color: rgba(0, 0, 0, 0.2);
			padding: 3px 1px;
			border-radius: 5px;
			width: 100%;
			&.next-player {
				top: 3px;
				left: 50%;
				transform: translateX(-50%);
				font-size: 50%;
				text-decoration: underline;
			}
			&.display-name {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -20%);
				font-size: 80%;
			}
		}
	}
}
