.footer {
	z-index: 9;
	width: 100%;
	background-image: linear-gradient(transparent, rgba($clr4, 0.5));
	// p {
	font-size: 60%;
	p {
		margin-right: 5px;
	}
    a {
        margin: 0;
    }
	svg,
	img {
	width: 16px;
    margin: 0 3px;
    }
	// }
}
