.nav-bar-wrap {
	width: 100%;
	background-image: linear-gradient(rgba($clr1, 0.6), transparent);
	.nav-bar {
		z-index: 999;
		width: 80vw;
		max-width: 100%;
		margin: 0 auto;
		// margin-bottom: 10px;
		a.home {
			text-decoration: none;
			display: flex;
			align-items: center;
			min-width: 160px;
			// border-radius: 5px;
			border-radius: 10px;
			height: 50px;
			padding: 8px;
			margin: 10px 10px 10px 0;
			min-width: 170px;
			&:hover {
				background-color: rgba($clr6, 0.3);
			}

			img {
				width: 30px;
				margin-right: 5px;
			}
			h2 {
				font-size: 200%;
				margin: 0;
			}
		}
		ul {
			margin: 0 0 0 auto;
			// position: relative;
			font-size: 80%;
			// min-width: 880px;
			li {
				margin-left: 5px;
				height: 50px;
				border-radius: 10px;
				padding: 8px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				transition: 0.2s;

				&:nth-child(1) {
					display: none;
				}
				& > * {
					margin: auto;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				& svg {
					margin-right: 5px;
				}
				&.login {
					position: relative;
					transition: 0.2s;
					.avatar {
						cursor: pointer;
						img {
							border-radius: 50%;
							width: 24px;
							height: 24px;
							margin-right: 5px;
						}
					}
					.dropdown {
						transition: 0.2s;
						// border-radius: 5px;
						border-radius: 10px;
						position: absolute;
						// border: 2px solid $clr6;
						background-color: rgba($clr6, 0.3);
						// transform: translate(-80%, 20%);
						top: 52px;
						right: 0px;
						padding: 10px;
						// width: 200px;
						// margin: 10px;
						z-index: 1000;
					}
				}
				&:hover {
					background-color: rgba($clr6, 0.3);
				}
			}
			.nav-icon {
				display: none;
			}
		}
		.screen {
			position: absolute;
			top: 50px;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 8;
		}
	}

	@include for-mobile-layout-width {
		.nav-bar {
			ul {
				transform: translateX(110%);
				transition: 0.2s;
				position: fixed;
				flex-direction: column;
				right: 0;
				top: 0;
				background-color: $clr3;
				height: 100%;
				align-items: flex-start;
				z-index: 998;
				padding-top: 100px;
				width: 230px;

				li:not(:last-child) {
					margin-right: unset;
				}

				&.menu-open {
					transform: translateX(0%);
				}

				li {
					width: 80%;
					margin-bottom: 20px;
					padding: 0px 20px;
					align-items: flex-start;

					&:nth-child(1) {
						display: flex;
					}
					&.login {
						.dropdown {
							top: 60px;
							right: 50%;
							transform: translateX(50%);
							img {
								width: 150px;
							}
						}
					}
				}

				a {
					transition: 0.2s;
					color: $clr6;

					&::after {
						all: unset;
					}
					&:hover {
						// color: $clr2;
					}
				}
			}

			.nav-icon {
				margin: 0 0 0 auto;
				width: 35px;
				height: 45px;
				position: relative;
				z-index: 999;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: 0.2s ease-in-out;
				-moz-transition: 0.2s ease-in-out;
				-o-transition: 0.2s ease-in-out;
				transition: 0.2s ease-in-out;
				cursor: pointer;
				top: 8px;
				display: block;

				span {
					display: block;
					position: absolute;
					height: 7px;
					width: 100%;
					background: $clr5;
					border-radius: 9px;
					opacity: 1;
					left: 0;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: 0.25s ease-in-out;
					-moz-transition: 0.25s ease-in-out;
					-o-transition: 0.25s ease-in-out;
					transition: 0.25s ease-in-out;

					&:nth-child(1) {
						top: 0px;
					}

					&:nth-child(2),
					&:nth-child(3) {
						top: 12px;
					}

					&:nth-child(4) {
						top: 24px;
					}
				}

				&.open {
					& span:nth-child(1) {
						top: 18px;
						width: 0%;
						left: 50%;
					}

					& span:nth-child(2) {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}

					& span:nth-child(3) {
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}

					& span:nth-child(4) {
						top: 18px;
						width: 0%;
						left: 50%;
					}
				}
			}
		}
	}
}
