.multiplayer {
	.share {
		margin: 5px;
		// width: 100%;
		// width: $width;
		// margin-top: 5px;

		min-height: 44px;

		border-radius: 10px;
		padding: 5px;
		backdrop-filter: blur(10px);
		background-color: rgba($clr4, 0.5);

		max-width: 100%;
		min-width: 288px;
		font-size: 80%;
		title {
			> svg {
				margin: 5px;
			}
		}

		button {
			margin: 5px;
			// filter: grayscale(0.9);
			// transition: 0.1s;
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}
