@font-face {
    font-family: NatrixSans;
    src: url(../../assets/fonts/NatrixSans/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: caveat;
    src: url(../../assets/fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}