// Colors
$clr1: #000;
$clr2: #f9b117;
// $clr2: #ed55a9;
$clr3: #4d9ac4;
// $clr3: #3fc0dd;
$clr4: #062538;
// $clr4: #0E2A47;
// $clr4: #574d70;
$clr5: #eaf1f9;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 760px;
$narrow-breakpoint: 860px;
$normal-breakpoint: 960px;

// $mobile-breakpoint: 501vmin;
// $narrow-breakpoint: 720vmin;
// $normal-breakpoint: 960vmin;

// Constants
$width: 68vmin;


